div.map-container ng-controller="FeedCtrl" ng-init="init({lat: #{@current_position.lat}, lng: #{@current_position.lng}})"
  leaflet height="100%" width="100%" markers="markers" center="center" paths="paths"